.App {
  font-family: sans-serif;
  text-align: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination ul li {
  list-style: none;
  margin-left: 12px;
}

.pageitem {
  list-style: none;
  margin-left: 12px;
}
